#article{
    background: url(/home/moringa/Documents/anitas-kitchen/images/landing.jpg);
    background-size: 200px;
}
.ton{
    padding: 20px;
    margin: 20px;
    border: 5px solid white;
    left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    }
image{
    align-items: center;
    padding: 20px;
    margin: 20px;
}
#hub{
    align-items: center;
    padding: 10px;
    border: 0px;
}
.happy{
    padding: 10px;
    border: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;    
}
.party{
    padding: 10px;
    border: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: auto;     
}
#breakfast{
    background: url(/home/moringa/Documents/anitas-kitchen/images/breakfast.jpg);
    background-size: 20px;
    border: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: auto;
    float: left;
}
#lunch{
    background: url(/home/moringa/Documents/anitas-kitchen/images/lunch.jpg);
    padding: 0px;
    background-size: 20px;
    border: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: auto;
    float:left;
}
#dinner{
    background: url(/home/moringa/Documents/anitas-kitchen/images/dinner.jpg);
    padding: 0px;
    background-size: 20px;
    border: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: auto;
    float:left;
}
#fastfoods{
    align-items: left center;
}
.con{
    padding:0px;
    border: 5px solid white;
    margin-left: 40px;
    background-size: 60px;
    }
.xavier{
    background-size: 30px; 
    padding: 0px;  
}
.content{
    background-size: 30px;
    float: left;
}
.view{
    padding: 20px;
    border: orangered;
    color: orangered;
}
#drink1{
    align-items: right center;
}
.drinks{
    background-size: 30px;
}
.gallery{
    color: orangered;
    border: orangered;
    padding: 20px;
}
.food{
    float: left;
    padding: 0px;
    border: 5px solid white;
    background-size: 60px;
}
.glass{
    background-size: 30px;
    padding: 0px;
}
#f{
    background:url(/home/moringa/Documents/anitas-kitchen/images/foodsBg.jpg);
    background-size: 200px;
}
.e{
    background-color: white;
}
.b{
    background-color: rgb(141, 125, 125);
}
.c{
   background-color: rgb(141, 125, 125);
}
.d{
    background: rgb(141, 125, 125);
}
.g{
    border: 0px;
}
.f{
    border:0px;
}
.q{
    align-items: center;
}
.v{
    image-resolution: 10px;
}
.t{
    image-resolution: 20px;
}
.z{
    margin-left: 0px;
}
.w{
    justify-content: center;
    background: white;
    border: outset 20px rgb(112, 106, 106);
}
.az{
    justify-content: center;
    background: url(images/subscribe.jpg);
}
.rt{
    align-items: left;
    border-width: 50pc;
    padding:20px;
    background: opacity 1px;
    font-style: normal;
    font-weight: bold;
}
.cv{
    background: rgb(235, 92, 40);
    padding: 20px;
}
.l9{
    justify-content: center;
    background: rgb(216, 89, 43);
}